# SQL Server
SA_PASSWORD=YourStrong_Password_Here
DB_CONNECTION=Server=sqlserver;Database=HubCinemaDb;User ID=sa;Password=YourStrong_Password_Here;TrustServerCertificate=True

# Redis
REDIS_PASSWORD=YourRedisPasswordHere
REDIS_CONNECTION=redis:6379,password=YourRedisPasswordHere

# JWT
JWT_KEY=YourJwtSecretKeyHere_MinLength32Characters

# Email (Gmail App Password)
EMAIL_USERNAME=your_email@gmail.com
EMAIL_PASSWORD=your_app_password_here

# Production DB (only for docker-compose.prod.yml)
DB_CONNECTION_PROD=Server=your_prod_server;Database=HubCinemaDb;User ID=sa;Password=YourProdPassword;TrustServerCertificate=True
REDIS_CONNECTION_PROD=your_prod_redis:6379,password=YourProdRedisPassword
